
<body id="LoginForm">
  <div class="container">

    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Iniciar Sesión</h2>
          <p>Introduce tu usuario y contraseña</p>
        </div>
        <form action="/login" method="POST" id="form-container">
          <div class="form-group">
            <input type="text" class="form-control" id="inputEmail" placeholder="Usuario" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
          </div>
          {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

          <div class="forgot">
    ¿Todavía no tienes cuenta?
    <a href="/signup">REGISTRATE GRATIS</a>
  </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
  </div>


</body>