<body id="LoginForm">
  <div class="container">

    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Regístrate</h2>
          <p>Introduce un usuario, un email y una contraseña</p>
        </div>
        <form action="/signup" method="POST" id="form-container">
          <div class="form-group">
            <input type="text" class="form-control" id="inputEmail" placeholder="Usuario" name="username">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputPassword" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
          </div>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}

          <div class="forgot">
            ¿Ya tienes una cuenta?
            <a href="/login">INICIA SESIÓN</a>
          </div>
          <button type="submit" class="btn btn-primary">Regístrate</button>
        </form>
      </div>
    </div>
  </div>
  </div>


</body>