
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <section id="home" name="home">
    <div id="headerwrap" style="background:url('images/header-bg.jpg') no-repeat center top; background-size:cover;">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                   <h1>MR. WOLF</h1>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-6 offset-lg-3">
                     <h3>Bienvenido a la web líder en intercambio de servicios.</h3>
                </div>
            </div>
        </div>
    
    </div>
</section>
    <section id="about" name="about">
    <div id="f">
        <div class="container">
            <div class="row">
                 <div class="col-lg-6 offset-lg-3">
                <h3>SOBRE NOSOTROS</h3>
     </div>
                <div class="col-lg-6 offset-lg-3">
                    <p>Si necesitas contratar a alguien y no tienes dinero para pagarle, este es tu sitio. Ofrécele algo a cambio!</p>
                    <p>Creada este lunes, Mr Wolf es experta en juntar a personas con algún talento inútil y sin dinero, con gente como ellos.</p>
                    <p>Desde su creación cientos de personas confían en nosotros para ofrecer sus <a href="/list">Servicios</a>. A que esperas! <a href="/service-creation">Ofrece el tuyo.</a></p>
                    <p>Y si encuentras algo que te interesa, no necesitas dinero, ofrécele otro servicio a cambio.</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
  </section>
    <section id="contact" name="contact">
    <div id="f">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                <h3>CONTACTO</h3>
       </div>
                <div class="col-lg-6 offset-lg-3">
                    <p>Ironhack Aula 4<br />
                        Madrid, Spain<br />
                        +34 8888-888</p>
                    <p>MrWolfApp@Gmail.com</p>
                    <p>
                  
                </div>
            </div>
        </div>
    </div>
</section>
</body>

