<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron card card-block main-index">

				<div class="text-div">
					<h2>
						Bienvenido a Mr.Wolf !
					</h2>
					<p>
						Mr.Wolf es el sitio líder en intercambio de servicios en España. ¿ Alguna vez contratar a alguien pero te has
						dado cuenta de que no tienes dinero para pagarle? <br><br>
						Ofrécele un servicio a cambio!
					</p>
				</div>

			</div>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col-md-4 offset-md-1 text-center indxbox">
			<h2>
				Nuestra lista
			</h2>
			<p>
				Aquí podrás ver todos los servicios que ofrecen nuestros usuarios, desde hacer un bocadillo, pintar una casa , o
				programar una web. Elige lo que más te interese y ofrecele algo de similar valora cambio. Si al usuario le parece
				suficiente, habréis llegado a un acuerdo !
			</p>
			<p>
				<a class="btn" href="/list">Accede a la lista »</a>
			</p>
		</div>

		<div class="col-md-4 secbox text-center indxbox">
			<h2>
				Ofrece un servicio
			</h2>
			<p>
				¿Qué sabes hacer? ¿Lo único que sabes hacer es pegar post-it y no consigues ganar dinero con eso? No te preocupes,
				seguro que habrá alguien a quien le pueda venir bien tus "talentos" y te ofrezca algo a cambio. El talento inútil de una persona es el tesoro de otra.
			</p>
			<p>
				<a class="btn" href="/service-creation">Ofrece algo a la comunidad »</a>
			</p>
		</div>
	</div>
</div>