#home {
  margin-top: 70px; }

.profile {
  margin-top: 100px; }

#f {
  padding-top: 150px; }

.list-head {
  margin-top: 80px; }

.list-head-rev {
  margin-top: 100px; }

a {
  color: #f85c37;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in; }

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0; }

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

#map {
  height: 300px; }

.event {
  display: inline-block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid #607D8D;
  border-radius: 10px;
  vertical-align: middle; }

.event .date {
  display: inline-block;
  width: 155px;
  height: 150px;
  text-align: center;
  background-color: #607D8D;
  vertical-align: middle; }

.event .date .day {
  font-size: 70px;
  color: #fff; }

.event .date .month {
  font-size: 30px;
  color: #fff;
  margin-top: -15px; }

.event .img {
  display: inline-block;
  width: 150px;
  height: 150px;
  vertical-align: top;
  overflow: hidden; }

.event .img img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.event .desc {
  display: inline-block;
  width: 55%;
  padding-left: 20px;
  font-size: 15px;
  overflow: hidden;
  vertical-align: middle; }

.event .desc a h6 {
  color: #f85c37;
  word-wrap: break-word; }

.event .desc h3 {
  font-weight: bolder; }

.event .desc p {
  font-size: 1.3em; }

@media screen and (max-width: 480px) {
  .event .img {
    display: none; } }

.my-form {
  color: #305896; }

.my-form .btn-default {
  background-color: #305896;
  color: #fff;
  border-radius: 0; }

.my-form .btn-default:hover {
  background-color: #4498C6;
  color: #fff; }

.my-form .form-control {
  border-radius: 0; }

.main-index {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  height: 400px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 1.3em;
  width: 1200px; }

.text-div {
  margin-top: 120px;
  width: 700px;
  margin-left: 400px; }

.secbox {
  margin-right: 150px; }

.indxbox {
  padding-top: 15px;
  background-color: rgba(53, 58, 63, 0.5);
  color: white;
  border: 3px solid white;
  border-radius: 15px; }

.indxbox p {
  font-size: 1.1em; }

.indxbox h2 {
  font-size: 2em;
  font-weight: bolder; }

.navbar {
  font-size: 1.2em; }

.navbar img {
  margin-right: 15px; }

.service-box {
  background-color: whitesmoke; }

body#LoginForm {
  background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  padding-top: 320px; }

.form-heading {
  color: #fff;
  font-size: 23px; }

.panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 8px 0; }

.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px; }

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px; }

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: -150px auto 250px;
  max-width: 38%;
  padding: 50px 70px 70px 71px; }

.login-form .form-group {
  margin-bottom: 10px; }

.login-form {
  text-align: center; }

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline; }

.login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0; }

.forgot {
  text-align: left;
  margin-bottom: 30px; }

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto; }

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0; }

/*# sourceMappingURL=style.css.map */