<h2> Add a comment Mr {{user.username}}</h2>

<form action="/review/{{userForReview.id}}" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title"><br>

  <label for="content">Description:</label>
  <input type="text" name="content"><br>

  <label for="rating">Rate:</label>
  <input type="number" name="rating"><br>

  <button type="submit">Send</button>
</form> 

