{{user}}
<br>
<br>
<br>
{{userForReview}}
{{user.id}}





<form method="POST" action="/review/{{user.id}}">
  <p>Título<input type="text" name="title" placeholder="name"></p>
  <p>Descripción<input type="text" name="content" placeholder="description" ></p>
  <p>Photo<input type="file" name="photo"></p>
  <input  type= "hidden" name ="type" value= "original">
  <p>Until <input type="date" name="serviceExpiresDate" id="serviceExpiresDate"></p>
  <label>Address</label>
  <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
  <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">
<button><input type="submit" value="SAVE"></button>
  
</form>